body {background-color: rgb(248, 210, 163); color: blue; text-align: justify;font-size: 18px;}
h1  {text-align: center;background-color: black;color: black;}
h3 {text-align: justify;color:cadetblue;;}
b{color:rgb(165, 180, 180);font-size: 18px;}
i {color:coral;font-size: 18px;}
header, footer{background-color:darkslategrey; color:cadetblue; text-align: center;font-s
